<html>
<head>
    <link href="https://keiichi3205.github.io/task_test/style.css" rel="stylesheet">
</head> 

<body>
<div id="app">
  <ul>
    <li v-for="todoList in todoLists">
      <input type="checkbox" v-model="todoList.checkToggle">
      <label v-bind:class={doneTask:todoList.checkToggle}>
        {{ todoList.title }}
      </label>
    </li>
  </ul>
  <hr>
  <input type="text"
    class="taskInput"
    placeholder="新しいタスクを追加する" 
    v-model="newTitle"
    v-on:change="checkEnteredValue()"
  >
  <button id="addBtn"
    v-on:click="addToDoList()" 
    v-bind:class={noclick:!newTitleToggle}
  >
    タスクを追加
  </button>
  <br>
  <button id="deleteBtn"
    v-on:click="deleteToDoList()"
  >
    タスクを削除
  </button>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script type="text/javascript" src="https://keiichi3205.github.io/task_test/style.js"></script>
</body>
</html>

